MQTT_USERNAME=filippo
MQTT_PASSWORD=filippo1994
MQTT_PORT=1883
MQTT_WS_PORT=9001
MQTT_BASE_TOPIC=dr154
MQTT_CONFIG_QOS=1
MQTT_COMMAND_QOS=1
MQTT_PUBLISH_TIMEOUT_SEC=6
MQTT_COMMAND_RETRIES=2
MQTT_COMMAND_RETRY_DELAY_MS=180
MQTT_COMMAND_REPEAT_ONOFF=2
MQTT_COMMAND_REPEAT_GAP_MS=120
MQTT_RESPONSE_TIMEOUT_MS=2600
MQTT_RESPONSE_RETRIES=2
MQTT_RESPONSE_RETRY_DELAY_MS=220
MQTT_RESPONSE_AFTER_COMMAND_DELAY_MS=320
THERMOSTAT_RESPONSE_TIMEOUT_MS=4500
THERMOSTAT_RESPONSE_RETRIES=3
THERMOSTAT_RESPONSE_RETRY_DELAY_MS=400
THERMOSTAT_RESPONSE_AFTER_COMMAND_DELAY_MS=700
THERMOSTAT_COMMAND_FRAME_GAP_MS=220
MQTT_REQUIRE_RESPONSE=false
INSTANCE_AUTH_TTL_SEC=43200
INSTANCE_AUTH_SECRET=
CONFIG_AUTH_USERNAME=
CONFIG_AUTH_PASSWORD=
CONFIG_AUTH_TTL_SEC=43200
LIGHT_PROFILE_LOOP_INTERVAL_SEC=20
WEB_PORT=8080
